header.header.header-sticky.mb-4
  .container-fluid
    button.header-toggler.px-md-0.me-md-3(type="button" onclick="coreui.Sidebar.getInstance(document.querySelector('#sidebar')).toggle()")
      svg.icon.icon-lg
        use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-menu")
        |
    a.header-brand.d-md-none(href="#")
      svg(width="118" height="46" alt="CoreUI Logo")
        use(xlink:href="assets/brand/coreui.svg#full")
        |
    ul.header-nav.d-none.d-md-flex
      li.nav-item
        a.nav-link(href="#") Dashboard
      li.nav-item
        a.nav-link(href="#") Users
      li.nav-item
    ul.header-nav.ms-auto
      li.nav-item
        a.nav-link(data-coreui-toggle="offcanvas" href="#offcanvasExample" role="button"  aria-controls="offcanvasExample")
          svg.icon.icon-lg
            use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-list-rich")
            |
      li.nav-item
        a.nav-link(href="#")
          svg.icon.icon-lg
            use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-envelope-open")
            |
    ul.header-nav.ms-3
      li.nav-item.dropdown
        a.nav-link.py-0(data-coreui-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false")
          .avatar.avatar-md
            img.avatar-img(src="assets/img/avatars/8.jpg" alt="user@email.com")
        .dropdown-menu.dropdown-menu-end.pt-0
          .dropdown-header.bg-light.py-2
            .fw-semibold Account
          a.dropdown-item(href="#")
            svg.icon.me-2
              use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-bell")
              |
            |  Updates
            span.badge.badge-sm.bg-info.ms-2 42
          a.dropdown-item(href="#")
            svg.icon.me-2
              use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-envelope-open")
              |
            |  Messages
            span.badge.badge-sm.bg-success.ms-2 42
          a.dropdown-item(href="#")
            svg.icon.me-2
              use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-task")
              |
            |  Tasks
            span.badge.badge-sm.bg-danger.ms-2 42
          a.dropdown-item(href="#")
            svg.icon.me-2
              use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-comment-square")
              |
            |  Comments
            span.badge.badge-sm.bg-warning.ms-2 42
          .dropdown-header.bg-light.py-2
            .fw-semibold Settings
          a.dropdown-item(href="#")
            svg.icon.me-2
              use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-user")
              |
            |  Profile
          a.dropdown-item(href="#")
            svg.icon.me-2
              use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-settings")
              |
            |  Settings
          a.dropdown-item(href="#")
            svg.icon.me-2
              use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-credit-card")
              |
            |  Payments
            span.badge.badge-sm.bg-secondary.ms-2 42
          a.dropdown-item(href="#")
            svg.icon.me-2
              use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-file")
              |
            |  Projects
            span.badge.badge-sm.bg-primary.ms-2 42
          .dropdown-divider
          a.dropdown-item(href="#")
            svg.icon.me-2
              use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-lock-locked")
              |
            |  Lock Account
          a.dropdown-item(href="#")
            svg.icon.me-2
              use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-account-logout")
              |
            |  Logout
  .header-divider
  .container-fluid
    block breadcrumb 

.offcanvas.offcanvas-start#offcanvasExample(tabindex="-1" style="width: 1200px;max-width: 100%" aria-labelledby="offcanvasExampleLabel")
  .offcanvas-header
    h5.offcanvas-title#offcanvasExampleLabel 
    button.btn-close.text-reset(data-coreui-dismiss="offcanvas"  aria-label="Close")
  .offcanvas-body 
    .container
      .row
        .col.col-auto
          .sidebar.sidebar-light.sidebar-fixed#sidebar(style="margin-left: 0px")
            .sidebar-brand.d-none.d-md-flex
              svg.sidebar-brand-full(width="118" height="46" alt="CoreUI Logo")
                use(xlink:href="assets/brand/coreui.svg#full")
                |
              svg.sidebar-brand-narrow(width="46" height="46" alt="CoreUI Logo")
                use(xlink:href="assets/brand/coreui.svg#signet")
            ul.sidebar-nav(data-coreui="navigation" data-simplebar)
              li.nav-title
                | Theme
              li.nav-item
                a.nav-link(href='colors.html')
                  svg.nav-icon
                    use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-drop")
                  |  Colors
        .col(style="padding-left: 260px;") 
          .input-group.mb-3
            input.form-control(type='text' placeholder='请输入服务名' aria-label='Username' aria-describedby='basic-addon1')
          .col-sm-6.col-lg-4
            .card.mb-4(style='--cui-card-cap-bg: #3b5998')
              .card-header.position-relative.d-flex.justify-content-center.align-items-center
                div.text-white.my-4
                  h4 测试
                  div 111
              .card-body.row.text-center
                .col
                  .fs-5.fw-semibold 收藏
                  .text-uppercase.text-medium-emphasis.small 收藏按钮
                .vr
                .col
                  .fs-5.fw-semibold 分享
                  .text-uppercase.text-medium-emphasis.small 分享按钮