.sidebar.sidebar-dark.sidebar-fixed#sidebar
  .sidebar-brand.d-none.d-md-flex
    svg.sidebar-brand-full(width="118" height="46" alt="CoreUI Logo")
      use(xlink:href="assets/brand/coreui.svg#full")
      |
    svg.sidebar-brand-narrow(width="46" height="46" alt="CoreUI Logo")
      use(xlink:href="assets/brand/coreui.svg#signet")
  ul.sidebar-nav(data-coreui="navigation" data-simplebar)
    li.nav-item
      a.nav-link(href='index.html')
        svg.nav-icon
          use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-speedometer")
        |  Dashboard
        span.badge.badge-sm.bg-info.ms-auto NEW
    li.nav-title
      | Theme
    li.nav-item
      a.nav-link(href='colors.html')
        svg.nav-icon
          use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-drop")
        |  Colors
  button.sidebar-toggler(type="button" data-coreui-toggle="unfoldable")
